<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="__PUBLIC__/Admin/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="/jfsc/admin.php?c=protype&a=index">商品分类管理</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-edit"></i> 保存
                        </li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-6">

                    <form class="form-horizontal" id="jfsc-form">
                        <div class="form-group">
                            <label for="inputname" class="col-sm-2 control-label">下级分类名称:</label>
                            <div class="col-sm-5">
                                <input type="text" name="typename" class="form-control" id="inputname" placeholder="请填写下级分类" value="{$restype.type_name}">
                            </div>
                        </div>
                        <input type="hidden" value="{$restype.type_id}" name="id">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-default" id="jfsc-button-submit">保存</button>
                                <button type="button" class="btn btn-default jfsc-delete" attr-id="{$restype.type_id}" style="margin-left:20px;">删除</button>
                                <button type="button" class="btn btn-default" style="margin-left:20px;" onclick="javascript:self.location=document.referrer;">返回</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var SCOPE = {
        'save_url' : '/jfsc/admin.php?c=protype&a=typesave',
        'jump_url' : 'javascript:self.location=document.referrer',
        'delete_url' : '/jfsc/admin.php?c=protype&a=del',
    }
</script>
<script src="__PUBLIC__/Admin/js/jquery_002.js"></script>
<script src="__PUBLIC__/Js/dialog/layer.js"></script>
<script src="__PUBLIC__/Js/dialog.js"></script>
<script src="__PUBLIC__/Admin/js/common.js"></script>
</body>
</html>