.typelist
{
    min-width: 570px;
}
.typeh
{
    margin-bottom: 10px;
}
.typeli
{
    display: inline-block; margin-right: 15px;
}
.jifentable
{
    width: 100%;
    margin-bottom: -1px;
    table-layout: fixed;
    font-family: Arial;
}
.navmessage th
{
    padding: 4px 5px;
    border-bottom: 1px solid #e8e8e8;
    background: #f0f0f0;
    font-weight: 400;
    color: #666;
    text-align: center;
}
.jifenbody tr td
{
    padding: 8px 5px;
    border-bottom: 1px dashed #c9c9c9;
    text-align: center;
}