<!DOCTYPE html>
<html>
<head>
<title>商品詳情頁</title>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<link href="__PUBLIC__/Index/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="__PUBLIC__/Index/css/style.css" type="text/css" rel="stylesheet" media="all">
	<link href="__PUBLIC__/Index/css/mystyle.css" type="text/css" rel="stylesheet" media="all">
<!-- js -->
<script src="__PUBLIC__/Index/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Index/js/bootstrap-3.1.1.min.js"></script>
<script src="__PUBLIC__/Index/js/imagezoom.js"></script>
<!-- //js -->
<!-- cart -->
<script src="__PUBLIC__/Index/js/simpleCart.min.js"> </script>
<!-- cart -->
<!-- FlexSlider -->
<script defer src="__PUBLIC__/Index/js/jquery.flexslider.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Index/css/flexslider.css" type="text/css" media="screen" />
<script>
	// Can also be used with $(document).ready()
	$(window).load(function() {
	  $('.flexslider').flexslider({
		animation: "slide",
		controlNav: "thumbnails"
	  });
	});
</script>
<!--//FlexSlider -->
</head>
<body>
<!--header-->
<div class="header">
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h1 class="navbar-brand"><a  href="index.html">積分商城</a></h1>
			</div>
			<!--navbar-header-->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/jfsc/index.php" class="active">主頁</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">全部商品分類<b class="caret"></b></a>
						<ul class="dropdown-menu multi-column columns-4" >
							<div class="row">
								<foreach name="type" item="vo">
									<div class="col-sm-3 typelist" >
										<h4 style="margin-bottom: 10px">{$vo.type_name}</h4>
										<ul class="multi-column-dropdown">
											<volist name="vo.child" id="list">
												<li class="typeli"><a class="list" href="/jfsc/index.php?c=product&a=index&typename={$list.type_name}">{$list.type_name}</a></li>
											</volist>
										</ul>
									</div>
								</foreach>
							</div>
						</ul>
					</li>
					<li class="dropdown grid">
						<a href="#" class="dropdown-toggle list1" data-toggle="dropdown">積分範圍<b class="caret"></b></a>
						<ul class="dropdown-menu multi-column columns-4" style="min-width: 200px;">
							<div class="row">
								<div class="col-sm-3" style="min-width: 200px;">
									<h4>積分:</h4>
									<ul class="multi-column-dropdown">
										<li><a class="list" href="/jfsc/index.php?c=product&a=index&jifen_fanwei=1">1-2000</a></li>
										<li><a class="list" href="/jfsc/index.php?c=product&a=index&jifen_fanwei=2">2001-5000</a></li>
										<li><a class="list" href="/jfsc/index.php?c=product&a=index&jifen_fanwei=3">5001-10000</a></li>
										<li><a class="list" href="/jfsc/index.php?c=product&a=index&jifen_fanwei=4">10001-50000</a></li>
										<li><a class="list" href="/jfsc/index.php?c=product&a=index&jifen_fanwei=5">50001-200000</a></li>
										<li><a class="list" href="/jfsc/index.php?c=product&a=index&jifen_fanwei=6">200000以上</a></li>
									</ul>
								</div>
							</div>
						</ul>
					</li>
					<li class="dropdown grid">
						<a href="#" class="dropdown-toggle list1" data-toggle="dropdown">人氣值排行 <b class="caret"></b></a>
						<ul class="dropdown-menu multi-column columns-4" style="min-width: 200px;">
							<div class="row">
								<div class="col-sm-3" style="min-width: 200px;">
									<h4>人氣</h4>
									<ul class="multi-column-dropdown">
										<?php $a=1;?>
										<foreach name="producti" item="vo">
											<li><a class="list clicknum"  attr-id="{$vo.prd_id}" href="/jfsc/index.php?c=product&a=prodetail&prd_id={$vo.prd_id}">{$a++}.{$vo.p_Name}</a></li>
										</foreach>
									</ul>
								</div>
							</div>
						</ul>
					</li>
				</ul>
				<!--/.navbar-collapse-->
			</div>
			<!--//navbar-header-->
		</nav>
		<div class="header-info">
			<div class="header-right search-box">
				<a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
				<div class="search">
					<form class="navbar-form" action="/jfsc/index.php/Home/product/index" method="get">
						<input type="text" class="form-control" name="p_Name">
						<button type="submit" class="btn btn-default" aria-label="Left Align">
							搜索
						</button>
					</form>
				</div>
			</div>
			<div class="header-right login">
				<a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
				<div id="loginBox">
					<empty name="Hukcuser">
						<div id="loginForm">
							<fieldset id="body">
								<fieldset>
									<label for="username">用戶名</label>
									<input type="text" name="username" id="username">
								</fieldset>
								<fieldset>
									<label for="password">密碼</label>
									<input type="password" name="password" id="password">
								</fieldset>
								<input type="submit" class="login" value="登錄" onclick="login.check()">
								<label for="check"><input type="checkbox" id="check" style="width: auto;margin: 3px 6px 0 0;float: left;padding: 0;border: 0;"> <i>Remember me</i></label>
							</fieldset>
							<p>New User ? <a class="sign" href="account.html">Sign Up</a> <span><a href="#">Forgot your password?</a></span></p>
						</div>
						<else/>
						<div id="loginForm">
							<fieldset id="body" >
								<fieldset>
									<label for="username">用戶名</label>
									<input type="text" name="user_name" id="usernamee" value="{$Hukcuser.user_name}">
								</fieldset>
								<fieldset>
									<label for="password">修改密碼</label>
									<input type="text" name="user_password" id="password" >
								</fieldset>
								<fieldset>
									<label for="password">確認密碼</label>
									<input type="text" name="user_repassword" id="repassword" >
								</fieldset>
								<fieldset>
									<label for="username">郵箱</label>
									<input type="text" name="user_email" value="{$Hukcuser.user_email}">
								</fieldset>
								<fieldset>
									<label for="username">電話</label>
									<input type="text" name="user_phone" value="{$Hukcuser.user_phone}">
								</fieldset>
								<fieldset>
									<label for="username">地址</label>
									<input type="text" name="user_place" id="user_place" value="{$Hukcuser.user_place}">
								</fieldset>
								<fieldset>
									<label>性别</label>
									<label  for="boy" style="display: inline-block;vertical-align: middle;">男</label> <input style="width:50px;" id="boy" name="user_sex" type="radio" value="男" <if condition="$Hukcuser[user_sex] eq '男'"> checked="checked" </if> />
									<label for="girl" style="display: inline-block;vertical-align: middle;">女</label> <input style="width:50px;" id="girl" name="user_sex" type="radio" value="女"  <if condition="$Hukcuser[user_sex] eq '女'"> checked="checked" </if> />
								</fieldset>
								<input  type="submit" class="login" id="jfsc-button-change" value="保存" >
								<input  type="submit" class="login"  value="退出登錄" style="margin-top: 5px;" onclick="javascript:window.location.href='/jfsc/index.php?c=index&a=loginout';">
							</fieldset>
						</div>
					</empty>
				</div>
			</div>
			<div class="header-right cart">
				<a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
				<div class="cart-box">
					<h4><a href="javascript:void(0);">
						<span > 積分:  </span> (<span>{$Hukcuser.user_jifen}</span>)
					</a></h4>
					<p><a href="javascript:void(0);" class="simpleCart_empty islogin" attr-where="1" attr-user="{$Hukcuser.user_id}">積分明細</a></p>
					<p><a href="javascript:void(0);" class="simpleCart_empty  islogin" attr-where="2" attr-user="{$Hukcuser.user_id}">積分記錄</a></p>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!--//header-->
	<!--//single-page-->
	<div class="single">
		<div class="container">
			<div class="single-grids">				
				<div class="col-md-4 single-grid">
					<div class="flexslider">
						<ul class="slides">
							<li data-thumb="{$prodetail.pImg}">
								 <div class="thumb-image"> <img src="{$prodetail.pImg}" data-imagezoom="true" class="img-responsive"> </div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 single-grid simpleCart_shelfItem"  style="margin-left: 50px;">
					<h3 id="pro_name">{$prodetail.p_Name}</h3>
					<ul class="size">
						<p style="font-size: 16px;">積分:<span style="padding-left:15px;color:#000" id="proprice">{$prodetail.price}</span></p>
					</ul>
					<ul class="size">
						<p style="font-size: 16px;">剩余數量:<span style="padding-left:15px;color:#000">{$prodetail.pNum}</span></p>
					</ul>
					<div class="galry">

						<div class="clearfix"></div>
					</div>
					<p class="qty"> 兌換數 :  </p><input min="1" type="number" id="quantity" name="quantity" value="1" class="form-control input-small proquality">
					<div class="btn_form">
						<a href="javascript:void(0);" class="add-cart item_add" attr-id="{$prodetail.prd_id}" attr-user="{$Hukcuser}">立即兌換</a>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- collapse -->
	<div class="collpse tabs">
		<div class="container">
			<div class="panel-group collpse" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							  Description
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							{$prodetail.pDesc|htmlspecialchars_decode}
						</div>
					</div>
				</div>
				<!--<div class="panel panel-default">-->
					<!--<div class="panel-heading" role="tab" id="headingTwo">-->
						<!--<h4 class="panel-title">-->
							<!--<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
							   <!--additional information-->
							<!--</a>-->
						<!--</h4>-->
					<!--</div>-->
					<!--<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">-->
						<!--<div class="panel-body">-->
							<!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="panel panel-default">-->
					<!--<div class="panel-heading" role="tab" id="headingThree">-->
						<!--<h4 class="panel-title">-->
							<!--<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
								<!--reviews (5)-->
							<!--</a>-->
						<!--</h4>-->
					<!--</div>-->
					<!--<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">-->
						<!--<div class="panel-body">-->
							<!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="panel panel-default">-->
					<!--<div class="panel-heading" role="tab" id="headingFour">-->
						<!--<h4 class="panel-title">-->
							<!--<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">-->
								<!--help-->
							<!--</a>-->
						<!--</h4>-->
					<!--</div>-->
					<!--<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">-->
						<!--<div class="panel-body">-->
							<!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			</div>
		</div>
	</div>
	<!--//collapse -->
	<!--related-products-->
	<div class="related-products">
		<div class="container">
			<h3>Related Products</h3>
			<div class="product-model-sec single-product-grids">
				<foreach name="producti" item="vo">
				<div class="product-grid single-product clicknum" attr-id="{$vo.prd_id}">
					<a href="/jfsc/index.php?c=Product&a=prodetail&prd_id={$vo.prd_id}">
					<div class="more-product"><span> </span></div>						
					<div class="product-img b-link-stripe b-animate-go  thickbox">
						<img src="{$vo.pImg}" class="img-responsive" alt="">
						<div class="b-wrapper">
						<h4 class="b-animate b-from-left  b-delay03">							
						<button>View</button>
						</h4>
						</div>
					</div>
					</a>					
					<div class="product-info simpleCart_shelfItem">
						<div class="product-info-cust prt_name">
							<h4>{$vo.p_Name}</h4>
							<span class="item_price">{$vo.price}</span>
							<div class="clearfix"> </div>
						</div>												
					</div>
				</div>
				</foreach>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!--related-products-->
	<!--footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-2 footer-grid">
					<h4>company</h4>
					<ul>
						<li><a href="products.html">products</a></li>
						<li><a href="#">Work Here</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="#">Happenings</a></li>
						<li><a href="#">Dealer Locator</a></li>
					</ul>
				</div>
				<div class="col-md-2 footer-grid">
					<h4>service</h4>
					<ul>
						<li><a href="#">Support</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Warranty</a></li>
						<li><a href="contact.html">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid">
					<h4>order & returns</h4>
					<ul>
						<li><a href="#">Order Status</a></li>
						<li><a href="#">Shipping Policy</a></li>
						<li><a href="#">Return Policy</a></li>
						<li><a href="#">Digital Gift Card</a></li>
					</ul>
				</div>
				<div class="col-md-2 footer-grid">
					<h4>legal</h4>
					<ul>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Terms and Conditions</a></li>
						<li><a href="#">Social Responsibility</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid icons">
					<h4>Connect with Us</h4>
					<ul>
						<li><a href="#"><img src="__PUBLIC__/Index/images/i1.png" alt=""/>Follow us on Facebook</a></li>
						<li><a href="#"><img src="__PUBLIC__/Index/images/i2.png" alt=""/>Follow us on Twitter</a></li>
						<li><a href="#"><img src="__PUBLIC__/Index/images/i3.png" alt=""/>Follow us on Google-plus</a></li>
						<li><a href="#"><img src="__PUBLIC__/Index/images/i4.png" alt=""/>Follow us on Pinterest</a></li>
					</ul>
				    </div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--footer-->
	<div class="footer-bottom">
		<div class="container">
			<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
		</div>
	</div>
<script src="__PUBLIC__/Js/dialog/layer.js"></script>
<script src="__PUBLIC__/Js/dialog.js"></script>
<script src="__PUBLIC__/Js/jquery.cookie.js"></script>
<script src="__PUBLIC__/Index/js/cookie.js"></script>
<script src="__PUBLIC__/Index/js/login.js"></script>
<script>
	var SCOPE=
	{
		'change_url':"/jfsc/index.php?c=User&a=save",
		'jump_url':"",
	};
	$('#jfsc-button-change').click(function()
	{
		var data =$('#body').serializeArray();
		var postdata={};
		var url =SCOPE.change_url;
		$(data).each(function(i)
		{
			postdata[this.name]=this.value;
		});
		console.log(postdata);
		$.post(url,postdata,function(result)
		{
			if(result.status==1)
			{
				return dialog.success(result.message,SCOPE.jump_url);
			}
			if(result.status==0)
			{
				return dialog.error(result.message);
			}
		},'JSON');
	});
	$(".item_add").click(function()
	{

//			寻找上级的兄弟节点
		var quality=$(".proquality").val();
		var prd_id=$(this).attr('attr-id');
		var money=$("#proprice").html();
		var prdname=$("#pro_name").html();
		var user=$(this).attr('attr-user');
		if(isNaN(quality))
		{
			return dialog.error("输入的并不是数量");
		}
		if(user.length==0)
		{
			return msgnotok("您还未进行登录");
		}
		var data=new Object();
		data.quality=quality;
		data.prd_id=prd_id;
		data.money=money;
		console.log(data);
		layer.open(
				{
					'title':'是否购买?',
					btn:['yes','no'],
					icon:3,
					closeBtn:2,
					content:'是否确定购买'+prdname+" "+quality+"件",
					scrollbar:true,
					yes:function() {
						$.post("/jfsc/index.php?c=Product&a=jiaoyi", data, function (result) {
							if (result.status == 1) {
								return dialog.success("购买成功", "");
							}
							if (result.status == 0) {
								return dialog.error(result.message);
							}
						}, 'JSON');
					}});
	});
	function msgnotok(msg)
	{
		layer.msg(
				msg, {
					icon: 2,
					shade: [0.5, '#000'],
					time:1000,
					shadeColse:true
				});
	}
	$('.clicknum').click(function()
	{
		var prd_id = $(this).attr("attr-id");
		var data={};
		data={'prd_id':prd_id};
		var url="/jfsc/index.php?c=Product&a=Addclick";
		$.post(url,data,function()
		{ });
	});
    $('.islogin').click(function()
    {
        var user=$(this).attr('attr-user');
        var where=$(this).attr("attr-where");
        if(user.length==0)
        {
            return dialog.error("您还未进行登录");
        }
        if(where==1)
        {
            window.location.href="/jfsc/index.php?c=Jifen&a=jfdetail&user_id="+user;
        }
        if(where==2)
        {
            window.location.href="/jfsc/index.php?c=Jifen&a=jfrecord&user_id="+user;
        }
    });
</script>
</body>
</html>