<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dashboard</title>

<meta name="description" content="Dashboard">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">

<link href="__PUBLIC__/Admin/css/bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__/Admin/css/font-awesome.css" rel="stylesheet">
<link href="__PUBLIC__/Admin/css/weather-icons.css" rel="stylesheet">
<link id="beyond-link" href="__PUBLIC__/Admin/css/beyond.css" rel="stylesheet" type="text/css">

